.header {
    color: red;
    text-align: center;
    size: large;
}

.signup__Form {
    position: left;
    width: 90%;
    justify-content: space-evenly;
}
.login__Form {
    padding-right: 0%;
    position: center;
    width: 90%;
    justify-content: space-evenly;
}

.error {
    color: black;
    bottom: 0;
}