<!-- Index.html er sat i Views mappen som en del af MVC strukturen. Det er mit frontend til brugeren som ligger i Views-->
<!-- Jeg skal starte med en forside til brugeren hvor de kan logge ind til dating app'en. 
I følge opgavebeskrivelsen skal en bruger både kunne logge ind på en allerede eksisterende bruger og forblive logget ind. 
En bruger skal også kunne oprette, slette og opdatere sin profil -->

<!doctype html> 
<html>
    <head>
        <meta charset="UTF-8"> <!-- to display the HTML page correct-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Log in page </title>
        <link rel="stylesheet" href="./index.css" /> <!-- Link to CSS stylesheet-->
        <script src="../index.js"> </script> <!--link to js logik page in Modules acording to MVC-->
    </head>

    <body>
        <header class="header"> 
           <!-- <nav class="navigation"> Using the nav tag to create a navigation menu. see documentation: https://www.w3schools.com/tags/tag_nav.asp --> 
               <!--- <ul class="navigation_links"> </ul>  ul tag for creating an unordeded list-->
                    <h1> Tinder -clone</h1>
            </nav>
        </header>


    <div class="sign_Up_Form"> <!-- Creating a div tag to make a section in the document which could be styled if wanted to. But that is not necessary-->
     <h2>Sign up to the new tinder </h2>
     <br>

        <!-- I create a sign up form where a user can put his/hers information. See documentation https://www.w3schools.com/howto/howto_css_signup_form.asp-->
        
        <form>
            <input type="text" id="firstname" placeholder="Firstname">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <input type="button" value="Submit" id="submit">
        </form>
        <div id="message"></div>

        <div id="Callback">
            <input type="button" value="Contact API" id="apiButton">
        </div>


        <!-- I create a login form so a user can login to his/hers page-->
    </div>
    <div class= "login_Form">
        <h2>Login to your account here. </h2>
        
                    <br/>
                    <input type="text" id="logInEmail" placeholder="Email address"> 
                    <input type="password" id="logInPassword" placeholder="Your password">      
        
        <button 
        onclick="logInBtn()">Log in</button>
    </div>
<br/>
<br/>
<br/>


    <div class="error" id="messageFullname"></div>
    <div class="error" id="messageEmail"></div>
    <div class="error" id="messagePassword"></div>
    <div class="error" id="messageAge"></div>

  
    </body>

</html>

<!--That should cover the front page visually. The syling could have been done better if more time is used with it-->