h1 {
    color: blue;
    text-align: center;
    background-color: rgb(106, 199, 142);
    border-radius: 40%;
    margin-left: 40%;
    margin-right: 40%;
}

.navigation {
    text-align: center;
    display: flex;
}

.swipe__link {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.logOut__link {
    margin-left: 1260px;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.myMatches {
    position: absolute;
    top: 200px;
    right: 0;
    margin-right: 100px;
}

.myInfo {
    position: absolute;
    top: 200px;
    margin-left: 100px;
    justify-content: space-between;
}

.profile__text {
    text-align: center;
    top: 200px;
}

.profile__img {
    width: 20%;
    height: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.update__form {
margin-left: 100px;
}

#deleteBtn {
    background-color: red;
    color: white;
    margin-left: 85%;
}