<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Myprofile page </title>
    <script src="../Controller/Myprofile.js"></script>
    <link rel="Stylesheet" href="./myProfile.css" /> 
  </head>
  <body>
    <h1> Profile page</h1>
  
    <!-- Making the navigationmenu in top to log out and jump to swipe page-->
<header class="header">
  <nav class="navigation">
    <a class="swipe__link" href="./swipe.html"> Swipe page </a>
    <a class="logOut__link" href="./login.html"> Log out </a>
  </nav>
</header>

<!--Making the divison where i can see, update and delete my informations-->
<div class="myInfo">
<h2>My information</h2>

</div>

<!--Making the division in the profile page where the information about my matches are-->
<div class="myMatches">
<h2> My matches </h2>

</div>


  </body>
</html>