<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Swipe page </title>
    <link rel="stylesheet" href="./swipe.css"/>
    <script src="../Controller/swipe.js"></script>
  </head>
  <body>

    <h1> Swipe page</h1>
  
<!-- Making the navigationmenu in top to log out and jump to myProfile-->
<header class="header">
  <nav class="navigation">
    <a class="myProfile__link" href="./myProfile.html"> My Profile </a>
    <a class="logOut__link" href="./login.html"> Log out </a>

  </nav>
</header>
  
  </body> 
</html>